// Variables

// colors
$primary_black: #242424;
$primary_yellow: #efaf00;
$primary_white: #eeeeee;
$secondary_black: #454545;

// fonts
$primary_font: 'Bentham', serif;
$secondary_font: 'Montserrat', sans-serif;

html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

@import './components/navbar/nav';
@import './components/tabs';
@import './components/hero/hero';
@import './components/subhero/subhero';
@import './components/events/events';
