// Variables

// colors
$primary_black: #242424;
$primary_yellow: #efaf00;
$primary_white: #eeeeee;
$secondary_black: #515151;
$secondary_yellow: #f1cb63;

// fonts
$primary_font: 'Bentham', serif;
$secondary_font: 'Montserrat', sans-serif;

// GLOBAL STYLES
html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

// FONT COLORS
.ft-white {
	color: $primary_white;
}

.ft-blk {
	color: $primary_black;
}

.date {
	font-family: $secondary_font;
	font-size: 1.4rem;
	text-align: center;
}

@import './components/navbar/nav';
@import './components/tabs';
@import './components/buttons';
@import './components/hero/hero';
@import './components/subhero/subhero';
@import './components/events/events';
@import './components/specials/specials';
@import './components/form/subscribe';
