.dashboard-container {
	background-color: $primary_black;
	margin-top: 6.5rem;

	.load-more-btn {
		display: block;
		margin: 2rem auto;
	}

	.add-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 20px;
	}

	.dashboard-default {
		color: $primary_white;
		font-family: $secondary_font;
		font-weight: 400;
		margin: 3rem 0;
		text-align: center;
	}

	.form-container {
		margin: 3rem 0;
		width: 25rem;

		.form-block {
			padding: 1rem;

			.label {
				color: $primary_white;
				font-family: $secondary_font;
				font-size: 1.2rem;
				margin: 0.5rem;
				text-align: left;
				width: 90%;
			}

			.input {
				background-color: $input_gray;
				border: none;
				border-radius: 5px;
				color: $primary_black;
				font-family: $secondary_font;
				font-size: 1.5rem;
				height: 3.5rem;
				margin-bottom: 1rem;
				padding-left: 1rem;
				width: 90%;
			}

			.input-other {
				margin-left: 4rem;
				margin-top: 1rem;
				width: 70%;
			}
		}
	}

	.edit-form {
		border: 3px solid $primary_yellow;
		position: absolute;
	}

	.list-block {
		margin: 3rem 0;

		.tile {
			background-color: $secondary_black;
			border-radius: 5px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 1rem;
			padding: 2rem;
			width: 25rem;

			.info {
				color: $primary_white;
				font-family: $secondary_font;

				.tile-title {
					font-size: 1.2rem;
					text-transform: capitalize;
				}

				p {
					font-size: 1rem;
					font-weight: 400;
					margin-top: 1rem;
				}

				.tile-role {
					text-transform: capitalize;
				}
			}
		}
	}

	.tile-icons {
		color: $primary_white;
		font-size: 1.2rem;

		.icon {
			margin: 0 0.5rem;
		}

		.fa-trash-alt {
			color: #fc0000;
		}
	}
}

// MIN SCREEN SIZE 768PX
@media only screen and (min-width: 768px) {
	.dashboard-container {
		.add-block {
			flex-direction: row;
			align-items: flex-start;

			.form-container {
				margin: 3rem 1rem 0 1rem;
			}

			.user-list-block {
				margin: 3rem 1rem 0 1rem;
			}

			.event-list-block {
				margin: 3rem 1rem 0 1rem;
			}

			.special-list-block {
				margin: 3rem 1rem 0 1rem;
			}
		}
	}
}

// MIN SCREEN SIZE 992PX
@media only screen and (min-width: 992px) {
	.dashboard-container .add-block {
		justify-content: space-evenly;
		margin: 0 auto;
		width: 90%;
	}
}
