.footer-container {
	background-color: $primary_black;
	width: 100%;

	.footer-content-block {
		.footer-content {
			color: $primary_white;
			font-family: $secondary_font;
			font-size: 1.2rem;
			font-weight: 400;
			padding: 2.5rem 0;
			text-align: center;
		}

		.social-links {
			display: none;
		}
	}
}

// MIN SCREEN SIZE 992PX
@media only screen and (min-width: 992px) {
	.footer-container .footer-content-block {
		position: relative;

		.social-links {
			display: unset;
			position: absolute;
			top: 50%;
			right: 5rem;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 15rem;

			.fab {
				color: $primary_white;
				font-size: 2rem;
			}

			.fab:hover {
				color: $hover_white;
			}
		}
	}
}

// MIN SCREEN SIZE 1200PX
@media only screen and (min-width: 1200px) {
	.footer-container .footer-content-block {
		.social-links {
			right: 10rem;
		}
	}
}
