// BUTTONS

// ORDER BUTTON
.order-btn {
	background-color: $secondary_black;
	border: 3px solid $primary_yellow;
	border-radius: 5px;
	color: $primary_white;
	cursor: pointer;
	font-family: $secondary_font;
	font-size: 1.6rem;
	margin-top: 1rem;
	padding: 1.5rem 4rem;
}

// SUBSCRIBE BUTTON
.subscribe-btn {
	background-color: $primary_blue;
	border: 1px solid $primary_blue;
	border-radius: 5px;
	color: $primary_white;
	cursor: pointer;
	font-family: $secondary_font;
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: 1.5rem;
	padding: 1rem;
	width: 15rem;
}

// LOGIN BUTTON
.login-btn {
	background-color: $primary_blue;
	border: 1px solid $primary_blue;
	border-radius: 5px;
	color: $primary_white;
	cursor: pointer;
	font-family: $secondary_font;
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: 1.5rem;
	padding: 1rem;
	width: 15rem;
}

// SUBMIT BUTTON
.submit-btn {
	background-color: $primary_blue;
	border: 1px solid $primary_blue;
	border-radius: 5px;
	color: $primary_white;
	cursor: pointer;
	font-family: $secondary_font;
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: 1.5rem;
	padding: 1rem;
	width: 15rem;
}

// LOAD MORE BUTTON
.load-more-btn {
	background-color: $secondary_black;
	border: 3px solid $primary_yellow;
	border-radius: 5px;
	color: $primary_white;
	cursor: pointer;
	font-family: $secondary_font;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding: 1.2rem 3rem;
}

// CANCEL BUTTON
.cancel-btn {
	background-color: $primary_yellow;
	border: 1px solid $primary_yellow;
	border-radius: 5px;
	color: $primary_white;
	cursor: pointer;
	font-family: $secondary_font;
	font-size: 1.4rem;
	font-weight: 400;
	margin-top: 1.5rem;
	padding: 0.6rem;
	width: 8rem;
}

// HOVER STYLES
.subscribe-btn:hover,
.login-btn:hover,
.submit-btn:hover {
	background-color: #003dd8;
	border: 1px solid $primary_white;
}

.order-btn:hover,
.load-more-btn:hover,
.cancel-btn:hover {
	background-color: $primary_yellow;
	color: $primary_black;
}
