.subhero-container {
	background-color: $primary_black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 2rem 3rem 2rem;

	.subhero-title {
		color: $primary_white;
		font-family: $primary_font;
		font-size: 3rem;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.subhero-content {
		color: $primary_white;
		font-family: $secondary_font;
		font-size: 1.2rem;
		margin: 1.5rem 0;
		text-align: center;
	}
}
