.contact-container {
	background-color: $primary-black;
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	min-height: calc(100vh - 177px);

	.contact-img {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

	.contact-block {
		color: $primary-white;
		font-family: $secondary-font;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		min-height: 35rem;

		.contact-title {
			font-size: 1.3rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		.contact-detail {
			font-size: 1.1rem;
			font-weight: 400;
			line-height: 170%;
		}

		.social-links {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 1rem;
			width: 15rem;

			.fab {
				color: $primary-white;
				font-size: 2.5rem;
			}

			.fab:hover {
				color: $hover_white;
			}
		}
	}
}

// MIN SCREEN SIZE 768PX
@media only screen and (min-width: 768px) {
	.contact-container .contact-img {
		width: 75%;
	}
}

// MIN SCREEN SIZE 992PX
@media only screen and (min-width: 992px) {
	.contact-container {
		.contact-img {
			max-width: 695px;
		}

		.contact-block {
			margin: 0 auto;
			min-height: 22rem;
			display: grid;
			grid-template-areas:
				'hours phone address'
				'. social .';
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto;

			.hours {
				grid-area: hours;
			}

			.address {
				grid-area: address;
			}

			.phone {
				grid-area: phone;
			}

			.social {
				grid-area: social;

				.social-links {
					width: unset;
				}
			}
		}
	}
}
