// Media Queries

// ** Min Width 768px

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.2em;

        .hero {
            padding: 0;
        }
    }
}

// ** Min Width 992px

@media only screen and (min-width: 992px) {
    .container {
        grid-template-areas:
            'head head' 
            'hero location'
            'sub-hero subscribe';
        grid-template-columns: 70% auto;
        grid-template-rows: 10vh 60% auto;

        section.hero {
            padding: 0;
        }
    }
        
    .phone a {
        pointer-events: none;
    }
}