// Media Queries

// ** Min Width 768px

@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

// ** Min Width 992px

@media only screen and (min-width: 992px) {
    .container {
        grid-template-areas: 
            'hero location'
            'hero subscribe';
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
    }

    .hero {
        grid-area: hero;
    }

    section.location {
        position: relative;
        top: 2em;
        
        .phone a {
            pointer-events: none;
        }
    }
}