// Nav Specific Variable
$nav_transition: all 0.5s ease;

nav {
	background: $primary_black;
	position: relative;

	.mobile-nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 1.5rem 2rem;

		.logo {
			color: $primary_white;
			font-family: $primary_font;
			font-size: 2.2rem;
			text-transform: uppercase;

			p {
				margin: 0;

				.sub-logo {
					display: none;
				}
			}
		}

		.nav-toggle {
			background: transparent;
			border-color: transparent;
			color: $primary_white;
			cursor: pointer;
			font-size: 2.2rem;
		}

		.nav-toggle:focus {
			outline: none;
		}
	}

	.links-container {
		position: absolute;
		top: 64px;
		right: -100%;
		background-color: $primary_black;
		height: 100px;
		width: 0;
		opacity: 1;
		transition: $nav_transition;
		overflow: hidden;

		.links {
			padding: 1rem 3rem;

			li {
				margin-bottom: 0.75rem;
				text-align: right;
			}

			.link {
				color: $primary_white;
				font-size: 1.6rem;
				transition: $nav_transition;
			}
		}
	}

	.links-container.active {
		display: block;
		right: 0;
		opacity: 1;
		padding: 0;
		width: 100%;
		transition: $nav_transition;
		z-index: 1;
	}
}

// MIN SCREEN SIZE 768PX
@media only screen and (min-width: 768px) {
	nav {
		.mobile-nav {
			padding: 1.7rem 2rem;

			.logo p .sub-logo {
				display: unset;
			}
		}

		.links-container.active {
			padding: 1rem 0;
		}
	}
}

// MIN SCREEN SIZE 992PX
@media only screen and (min-width: 992px) {
	nav {
		.links-container.active {
			padding: 1.5rem 0;
		}
	}
}
