.nav-container {
	background: $primary_black;
	height: 6.5rem;
	width: 100%;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;

	.mobile-nav {
		padding: 2rem 2.5rem;

		.logo {
			color: $primary_white;
			font-family: $primary_font;
			font-size: 2.2rem;
			text-transform: uppercase;

			p {
				margin: 0;

				.sub-logo {
					display: none;
				}
			}
		}
	}

	.burger-icon {
		height: 2rem;
		width: 2rem;
		position: fixed;
		top: 2.4rem;
		right: 3.5rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		cursor: pointer;

		.burger-line {
			background-color: $primary_white;
			border-radius: 10px;
			height: 0.25rem;
			width: 2rem;
			transform-origin: 1px;
		}
	}

	.yellow-wrapper {
		opacity: 0;
		transform: translateX(100%);
		background-color: $primary_yellow;
		height: 18rem;
		width: 100vw;
		margin-top: 0.4rem;
		position: fixed;
		top: 5.5rem;
		right: 0;
		z-index: 4;

		.menu-wrapper {
			opacity: 0;
			transform: translateX(100%);
			background-color: $primary_black;
			border-radius: 0 0 0 10px;
			width: 100vw;
			// margin-top: 5.5rem;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 5;

			.links {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-end;
				padding: 1.5rem 4rem;

				li {
					background-color: $primary_black;
					text-align: right;
					margin: 0.25rem 0;
					padding: 1rem 1rem;
					width: 10rem;
				}

				.link {
					color: $primary_white;
					font-size: 1.6rem;
				}
			}
		}
	}
}

// MIN SCREEN SIZE 768PX
@media only screen and (min-width: 768px) {
	.nav-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;

		.mobile-nav .logo p .sub-logo {
			display: unset;
		}

		.menu-wrapper {
			.links {
				flex-flow: row nowrap;
				justify-content: flex-end;
			}
		}

		.yellow-wrapper .menu-wrapper .links {
			padding: 1.5rem 6rem;
		}
	}
}

// MIN SCREEN SIZE 1400PX
@media only screen and (min-width: 1400px) {
	.nav-container {
		.mobile-nav {
			padding: 2rem 5rem;
		}

		.burger-icon {
			right: 5rem;
		}
	}
}
