// hero image variable
$hero-img: '../../img/beertaps2.jpg';

.hero-container {
	height: 38rem;

	.hero-img {
		background-image: url($hero-img);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
	}

	h3 {
		color: $primary_white;
		font-family: $primary_font;
		font-size: 2.6rem;
		margin: -3rem 0 0 0;
		text-align: center;
	}
}

// MIN SCREEN SIZE 992PX
@media only screen and (min-width: 992px) {
	.hero-container {
		height: 44rem;
	}
}

// MIN SCREEN SIZE 1200PX
@media only screen and (min-width: 1200px) {
	.hero-container {
		height: 48rem;
	}
}

// MIN SCREEN SIZE 1400PX
@media only screen and (min-width: 1400px) {
	.hero-container {
		height: 50rem;
	}
}
