.login-container {
	background-color: $primary_black;
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	margin-top: 6.5rem;
	min-height: calc(100vh - 177px);
	width: 100%;

	.form-container {
		padding: 2rem 0;
		max-width: 600px;
		width: 90%;

		.form-content {
			margin-top: 1rem;
		}

		.form-block {
			.input {
				background-color: #c4c4c4;
				border: none;
				border-radius: 5px;
				color: $primary_black;
				font-family: $secondary_font;
				font-size: 1.5rem;
				height: 3.5rem;
				padding-left: 1rem;
				margin-top: 2rem;
				width: 70%;
			}

			.password {
				margin-top: 1rem;
			}
		}

		.form-disclaimer {
			color: $primary_white;
			font-family: $secondary_font;
			font-size: 1rem;
			font-weight: 400;
			margin-top: 2rem;
			text-align: center;
			display: flex;
			justify-content: center;

			p {
				margin-right: 0.5rem;
			}

			.reset-link {
				color: $primary_yellow;
				font-family: $secondary_font;
			}

			.reset-link:hover {
				color: $hover_white;
			}
		}
	}
}

// MIN SCREEN SIZE 768PX
@media only screen and (min-width: 768px) {
	.login-container {
		min-height: calc(100vh - 215px);
	}
}

// MIN SCREEN SIZE 992PX
@media only screen and (min-width: 992px) {
	.login-container {
		min-height: calc(100vh - 231px);
	}
}
